@{
    ViewData["Title"] = "Setting User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="content-heading">Setting User</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Table User <small>Set User's Group</small>
        </h3>
        <div class="block-options">
            <div class="block-options-item">
                <button type="button" class="btn btn-success py-2 mb-0" data-bs-toggle="modal" data-bs-target="#modal-insert">
                    <i class="fa fa-add opacity-50 me-1"></i> Add User
                </button>
            </div>
        </div>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_user">
            <thead class="text-center">
                <tr>
                    <th>Username</th>
                    <th>Nama</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal-insert" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Register User's Group</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="txt_nrp">Username</label>
                        <select class="js-select2 form-select select2-modal" id="txt_nrp" name="txt_nrp" style="width: 100%;">
                            <option></option>
                            @foreach (var item in ViewBag.Emp)
                            {
                                <option value="@item.EmployeeId">@item.EmployeeId - @item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="txt_group">Group</label>
                        <select class="js-select2 form-select select2-modal" id="txt_group" name="txt_group" style="width: 100%;">
                            <option></option>
                            @foreach (var item in ViewBag.Group)
                            {
                                <option value="@item.Id">@item.RoleName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-alt-primary" onclick="insertUser()">Insert</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/SettingUser.js"></script>
}
